target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml
rebel-remote.xml

### MAC ###
.DS_Store

### Other ### 
logs/
templ/

### spring启动图像 ###
banner.txt
