<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <th:block th:include="includes/header :: header"></th:block>
    <title>我的商城 | 用户管理</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 头顶导航条 -->
    <th:block th:include="includes/nav :: nav"></th:block>

    <!-- 左边侧边栏 -->
    <th:block th:include="includes/menu :: menu" ></th:block>

    <!-- Content Wrapper. Contains page content -->
    <!-- 主题内容 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                用户管理
                <small> <!-- TODO bug 解决 -->
                </small><!-- 子标题，有再加 -->
            </h1>
            <ol class="breadcrumb">
                <li><a href="/main"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="/user/list"> 用户管理</a></li>
                <li>
                    <th:block th:if="${tbUserDomain.id == null}"> 新增用户</th:block>
                    <th:block th:if="${tbUserDomain.id != null}"> 编辑用户</th:block>
                </li>
            </ol>
        </section>

        <!-- TODO 完善Thymeleaf 的笔记 -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <th:block th:if="${baseResult != null}">
                        <!-- 非空验证弹窗 -->
                        <!-- TODO bug 保存用户成功后，该提示没有自动消失 -->
                        <div class="alert alert-dismissable " th:classappend="${baseResult.status == 200} ? 'alert-success' : 'alert-danger'">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span th:text="${baseResult.message}"></span>
                        </div>
                    </th:block>
                    <!-- 水平表单 -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <th:block th:if="${tbUserDomain.id == null}"> 新增用户</th:block>
                                <th:block th:if="${tbUserDomain.id != null}"> 编辑用户</th:block>
                            </h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start th:classappend="${baseResult.status == 200} ? 'has-success' : 'has-error'" -->
                        <form class="form-horizontal" id="inputForm" action="/user/save" method="post">
                            <div class="box-body ">
                                <!-- 200 状态码 -->
<!--                                <th:block th:if="${baseResult.status == 200}">-->
<!--                                    &lt;!&ndash; 邮箱 &ndash;&gt;-->
<!--                                    <div class="form-group " > &lt;!&ndash; has-error has-success &ndash;&gt;-->
<!--                                        <label for="inputEmail" class="col-sm-2 control-label">-->
<!--                                            <i class="fa fa-times-circle-o" th:if="baseResult.status != 200"></i>-->
<!--                                            邮箱-->
<!--                                        </label>-->

<!--                                        <div class="col-sm-10">-->
<!--                                            <input type="text" class="form-control" id="inputEmail" name="email" placeholder="请输入用户的邮箱地址" th:value="${tbUserDomain.email}" >-->
<!--                                            &lt;!&ndash; 帮助或提示信息 &ndash;&gt;-->
<!--                                            <th:block th:switch="${baseResult.status == 200}">-->
<!--                                                <span class="help-block" th:case="true" ></span>-->
<!--                                                <span class="help-block" th:case="false" th:text="${baseResult.message}"></span>-->
<!--                                            </th:block>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </th:block>-->

                                <div class="form-group " > <!-- has-error has-success -->
                                    <label for="inputEmail" class="col-sm-2 control-label">
                                        邮箱
                                    </label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputEmail" name="email" placeholder="请输入用户的邮箱地址" th:value="${tbUserDomain.email}" >
                                        <!-- 帮助或提示信息 -->
<!--                                        <th:block th:if="${baseResult != null}">-->
<!--                                            <span class="help-block" th:if="baseResult.status != 200" th:text="${baseResult.message}"></span>-->
<!--                                        </th:block>-->
                                    </div>
                                </div>
                                <!-- 密码 -->
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">密码</label>

                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="请输入登录密码" th:value="${tbUserDomain.password}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputUsername" class="col-sm-2 control-label">姓名</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="username" id="inputUsername" placeholder="请输入用户的姓名" th:value="${tbUserDomain.username}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPhone" class="col-sm-2 control-label">手机</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="请输入用户的手机号码" th:value="${tbUserDomain.phone}">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="button" class="btn btn-default" onclick="history.go(-1)">返回</button>
                                <button type="submit" class="btn btn-info pull-right">提交</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <!-- 底部版权信息的引入 -->
    <th:block th:include="includes/copyright :: copyright" ></th:block>
    <!-- TODO 注意使用多次的重复代码记得重构，用Thymeleaf来实现，具体仓库itoken项目 -->
</div>
<!-- 引入通用的script -->
<th:block th:include="includes/footer :: footer"></th:block>

<!-- App -->
<script>
    $(function () {
        Validate.init();
    })
</script>

</body>
</html>

<!-- TODO HTML DOM 做个笔记 -->