<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:HH="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="includes/header :: header"></th:block>
    <title>我的商场 | 用户列表</title>
    <!-- DataTables -->
    <link rel="stylesheet" href="/static/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 头顶导航条 -->
    <th:block th:include="includes/nav :: nav"></th:block>

    <!-- 左边侧边栏 -->
    <th:block th:include="includes/menu :: menu" ></th:block>

    <!-- Content Wrapper. Contains page content -->
    <!-- 主题内容 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                用户管理
                <small>用户列表</small><!-- 子标题，有再加 -->
            </h1>
            <ol class="breadcrumb">
                <li><a href="/main"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li> 用户管理</li>
                <li> 用户列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <!-- 网页主题内容 -->
        <section class="content">
            <!-- 用户列表的表格 -->
            <div class="row">
                <div class="col-xs-12">
<!--                    <th:block th:if="${baseResult.status == 200}">-->
<!--                        &lt;!&ndash; 非空验证弹窗 &ndash;&gt;-->
<!--                        <div class="alert alert-dismissable " th:classappend="alert-success">-->
<!--                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
<!--                            <span th:text="${baseResult.message}"></span>-->
<!--                        </div>-->
<!--                    </th:block>-->
<!--                    <th:block th:if="${baseResult.status == 500}">-->
<!--                        &lt;!&ndash; 非空验证弹窗 &ndash;&gt;-->
<!--                        <div class="alert alert-dismissable " th:classappend="alert-danger">-->
<!--                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
<!--                            <span th:text="${baseResult.message}"></span>-->
<!--                        </div>-->
<!--                    </th:block>-->
                    <!-- TODO 用户新增表单验证有空优化 -->
                    <th:block th:if="${baseResult != null}">
                        <!-- 非空验证弹窗 -->
                        <div class="alert alert-dismissable " th:classappend="${baseResult.status == 200} ? 'alert-success' : 'alert-danger'">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span th:text="${baseResult.message}"></span>
                        </div>
                    </th:block>

                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">用户信息列表1</h3>
                            <div class="row" style="padding-left: 15px;padding-top: 10px;">
                                <a href="/user/form" type="button" class="btn btn-default" style="margin-right: 10px;"><i class="fa fa-plus" > 新增</i></a>
                                <a href="#" type="button" class="btn btn-default" style="margin-right: 10px;"><i class="fa fa-trash-o" > 批量删除</i></a>
                                <a href="#" type="button" class="btn btn-default" style="margin-right: 10px;"><i class="fa fa-download" > 导入</i></a>
                                <a href="#" type="button" class="btn btn-default" style="margin-right: 10px;"><i class="fa fa-external-link" > 导出</i></a>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>手机号码</th>
                                        <th>邮箱</th>
                                        <th>创建时间</th>
                                        <th>更新时间</th>
                                        <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tbUser : ${tbUserDomains}">
                                    <td th:text="${tbUserStat.count}"></td>
                                    <td th:text="${tbUser.id}"></td>
                                    <td th:text="${tbUser.username}"></td>
                                    <td th:text="${tbUser.phone}"></td>
                                    <td th:text="${tbUser.email}"></td>
                                    <td th:text="${#dates.format(tbUser.created, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${#dates.format(tbUser.created, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td >
                                        <a href="#" type="button" class="btn btn-sm btn-default" style="margin-right: 5px;"><i class="fa fa-search" > 查看</i></a>
                                        <a href="#" type="button" class="btn btn-sm btn-primary" style="margin-right: 5px;"><i class="fa fa-edit (alias)" > 编辑</i></a>
                                        <a href="#" type="button" class="btn btn-sm btn-danger" style="margin-right: 5px;"><i class="fa fa-trash" > 删除</i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>



                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">用户信息列表2</h3>
                            <!-- 按钮 -->
                            <div class="row" style="padding-left: 15px;padding-top: 10px;margin-top: 10px">
                                <a href="/user/form" type="button" class="btn btn-default" style="margin-right: 10px;"><i class="fa fa-plus" > 新增</i></a>
                                <a href="#" type="button" class="btn btn-default" style="margin-right: 10px;"><i class="fa fa-trash-o" > 批量删除</i></a>
                                <a href="#" type="button" class="btn btn-default" style="margin-right: 10px;"><i class="fa fa-download" > 导入</i></a>
                                <a href="#" type="button" class="btn btn-default" style="margin-right: 10px;"><i class="fa fa-external-link" > 导出</i></a>
                            </div>

                           <div class="row" style="padding-left: 5px;padding-top: 10px;">
                               <form action="/user/search" method="post" >
                                  <div class="row">
                                      <!-- 邮箱 -->
                                      <div class="col-xs-3">
                                          <div class="form-group">
                                              <label for="Username" class="col-sm-2 control-label">姓名</label>
                                              <div class="col-sm-8">
                                                  <input type="text" id="Username" name="username" th:value="${tbUserDomain.username}" class="form-control pull-right" placeholder="姓名">
                                              </div>
                                          </div>
                                      </div>
                                      <!-- 手机 -->
                                      <div class="col-xs-3">
                                          <div class="form-group">
                                              <label for="Phone" class="col-sm-2 control-label">手机</label>

                                              <div class="col-sm-8">
                                                  <input type="text" id="Phone" name="phone"  th:value="${tbUserDomain.phone}" class="form-control pull-right" placeholder="手机">
                                              </div>
                                          </div>
                                      </div>
                                      <!-- 姓名 -->
                                      <div class="col-xs-3">
                                          <div class="form-group">
                                              <label for="Email" class="col-sm-2 control-label">邮箱</label>
                                              <div class="col-sm-8">
                                                  <input type="text" id="Email" name="email" th:value="${tbUserDomain.email}" class="form-control pull-right" placeholder="邮箱">
                                              </div>
                                          </div>
                                      </div>
                                      <!-- 搜索按钮 -->
                                      <div class="row" style="padding-right: 90px;padding-top: 50px;">
                                          <div class="col-xs-12">
                                              <button type="submit" class="btn btn-info pull-right">搜索</button>
                                          </div>
                                      </div>
                                  </div>

                               </form>

                           </div>

<!--                            <div class="box-tools">-->
<!--                                <form action="/user/search" method="post">-->
<!--                                    <div class="input-group input-group-sm" style="width: 150px;">-->
<!--                                        <input type="text" name="keyword" class="form-control pull-right" placeholder="全局搜索">-->

<!--                                        <div class="input-group-btn">-->
<!--                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->

                        </div>

                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>手机号码</th>
                                        <th>邮箱</th>
                                        <th>创建时间</th>
                                        <th>更新时间</th>
                                        <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tbUser : ${tbUserDomains}">
                                    <td th:text="${tbUserStat.count}"></td>
                                    <td th:text="${tbUser.id}"></td>
                                    <td th:text="${tbUser.username}"></td>
                                    <td th:text="${tbUser.phone}"></td>
                                    <td th:text="${tbUser.email}"></td>
                                    <td th:text="${#dates.format(tbUser.created, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${#dates.format(tbUser.created, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td>
                                        <a href="#" type="button" class="btn btn-sm btn-default">查看</a>
                                        <a href="#" type="button" class="btn btn-sm btn-primary">编辑</a>
                                        <a href="#" type="button" class="btn btn-sm btn-danger">删除</a>
                                    </td>                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>

    <!-- 底部版权信息的引入 -->
    <th:block th:include="includes/copyright :: copyright" ></th:block>
    <!-- TODO 注意使用多次的重复代码记得重构，用Thymeleaf来实现，具体仓库itoken项目 -->
</div>

<!-- 引入通用的script -->
<th:block th:include="includes/footer :: footer"></th:block>


<!-- TODO thymeleaf遍历循环做个笔记 -->
<!-- TODO 这里若想搞比如状态 0绿色，1红色，去参考模版的table源码 -->
<!-- TODO thymeleaf 日期的用法做个笔记 -->
</body>
</html>